/* Card of Product */
.card__product_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
 
    background-color: #fff;
    transition: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    
    margin-right: 20px;
    margin-bottom: 30px;
    border-radius: 15px;
  }
  
  .card__product_container:hover {
    box-shadow: 0 2px 8px 0.5px rgb(0 0 0 / 10%);
    transform: translate(0, -2px);
  }
  
  .card__product__img img {
    width: 270px;
    height: 270px;
    border-radius: 15px;
  }
  
  .card__product__title {
     margin: 15px 0 15px 0; 
  }
  
  .product__link {
    color: #535353;
    text-align: center;
    text-decoration: none;
  }
  