*{
  margin: 0;
  padding: 0;
}
.App{
  background-color: #f0f0f1;
}
/*header*/
.App-header{
  background-color: #fb3449;
  color: #fff;
  font-size: 35px;
  font-size: 30px;
  padding: 10px 0 10px 20px;
}
/*Main*/
.App-main{
margin: 3% 5% 0 5%;
display: flex;
flex-direction: row;
justify-content: space-between;

}